

.men-original-price {
  width: 100%;
  font-size: 18px; /* Adjusted font size */
  font-weight: bold;
  color: #000;

}

.men-discounted-price {
  text-decoration: line-through;
  font-size: 13px; /* Further reduced font size */
  color: #888;
  margin-bottom: 2px; /* Reduced margin */
  padding-left: 10px;

}

.menmids {
  overflow-x: auto;
  width: calc(100% - 200px);
  height: 470px;
  margin: 25px auto;
  padding: 0 30px;
  scrollbar-width: none;
  -ms-overflow-style: none;
  // height: 50%;
  &::-webkit-scrollbar {
    display: none;
  }

  .scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    border: none;
    font-size: 24px;
    padding: 0 12px;
    background-color: rgba(255, 255, 255, 0.7);
    cursor: pointer;

    &.left {
      left: 10px;
    }

    &.right {
      right: 10px;
    }
  }
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; // Full viewport height
  margin-bottom: 10%;
}

.mens {
  
  margin-left: -2%;

  display: flex;
  flex-wrap: nowrap;
  gap: 30px;

  
  .boxs {
    display: inline-block;
    width: 300px;
    height: 400px;
    vertical-align: top;
    margin-right: 20px;
    
    .imgages { 
      position: relative;
      overflow: hidden; /* Ensures anything outside the image container is clipped */
        padding-right: 5px;
      .quick-delivery-badg {
          position: absolute;
          background-color: #ff3c00; /* Orange background */
          color: #fff; /* White text */
          padding: 5px 20px; /* Adjust padding for proper sizing */
          font-size: 12px;
          font-weight: bold;
          z-index: 2; /* Ensure it stays above the image */
          transform: rotate(-45deg); /* Angled look */
          transform-origin: top left; /* Keep pivot at the top left corner */
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add some shadow for visibility */
          text-align: center; /* Center the text inside the badge */
          max-width: 300px; /* Set a maximum width for the badge */
          top: 72px; /* Move the badge even further down */
          left: -20px; /* Move the badge even further to the right */
        
          @media (max-width: 520px) {
            font-size: 10px; /* Reduce font size for smaller screens */
            padding: 3px 15px; /* Reduce padding for better fit */
            max-width: 200px; /* Reduce the width on smaller devices */
            top: 58px; /* Move the badge even further down */
            left: -15px; /* Move the badge even further to the right */
          }
        
          @media (max-width: 375px) {
            font-size: 9px; /* Further reduce font size for very small screens */
            padding: 2px 10px; /* Further reduce padding */
            max-width: 90px; /* Adjust width for smaller screens */
            top: 49px; /* Move the badge even further down */
            left: -12px; /* Move the badge even further to the right */
          }
        }
        
        
        
      img {
        width: 250px;
        height: 250px;
        border-radius: 5px;
        transition: transform 0.3s ease;
        
      }

      .imgage:hover img {

        transform: scale(1.03);
      }

      p {
        background-color: white;
        z-index: 10;
        padding: 7px;
        text-align: center;
        border-radius: 5px;
        font-weight: 600;
      }

      .overlay3s a {
        
        text-decoration: none;
        color: black;
      }

      .overlay3s p {
        width: 50%;
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        transition: opacity 0.3s ease;
  
      }

      .overlay3s p:hover {
        background-color: #000;
        color: #fff;
      }
    }

    .informationss {
      margin-left: 5px;
      .title {
        font-size: 19px;
      }

      .price {
        font-weight: bold;
        font-size: 16px;
      }

      .paymentsimgs {
        div {
          display: flex;
          align-items: center;
          gap: 5px;
        }

        .p01 {
          display: flex;
          align-items: center;
          font-size: 15px;
          margin-top: 5px;

          img {
            height: 20px;
            width: 50px;
            margin-top: -2px;
          }
        }

        .p02 {
          display: flex;
          align-items: center;
          font-size: 15px;
          margin-top: -10px;

          img {
            height: 20px;
            width: 50px;
            margin-top: -8px;
          }
        }
      }
    }
  }
}

/* Media Queries for Responsive Design */
@media (max-width: 575.98px) {
  .menmids {
    width: 100%;
    height: auto;
  }

  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh; // Full viewport height
  }

  .mens {
    margin-left: 1%;
    flex-wrap: nowrap;
    overflow-x: scroll;
    gap: 10px;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */

    &::-webkit-scrollbar {
      display: none; /* Hide scrollbar for Webkit browsers */
    }

    .boxs {
      width: 200px;
      height: auto;
      margin-right: 10px;

      .imgages {
        
        img {
          width: 180px;
          height: 180px;
        }

        .overlay3s {
          display: none; /* Remove the view more button */
        }
      }

      .informationss {
        .title {
          font-size: 14px;
          margin-top: 5px; /* Reduce space between image and product name */
        }

        .price {
          font-size: 12px;
        }

        .paymentsimgs {
          .p01, .p02 {
            font-size: 12px;

            img {
              height: 15px;
              width: auto;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .menmids {
    width: 90%;
  }

  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh; // Full viewport height
  }

  .mens {
    margin-left: -3%;
    gap: 20px;

    .boxs {
      width: 280px;
      height: 380px;
    }
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .menmids {
    width: 90%;
  }

  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh; // Full viewport height
  }

  .mens {
    margin-left: -2.5%;
    gap: 25px;

    .boxs {
      width: 290px;
      height: 390px;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .menmids {
    width: 85%;
  }

  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh; // Full viewport height
  }

  .mens {
    gap: 30px;

    .boxs {
      width: 300px;
      height: 400px;
    }
  }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  .menmids {
    height: 40%;
    width: 80%;
  }

  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh; // Full viewport height
  }

  .mens {
    gap: 30px;

    .boxs {
      width: 300px;
      height: 400px;
    }
  }
}

@media (min-width: 1400px) {
  .menmids {
    height: 40%;
    width: 75%;
  }

  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; // Full viewport height
  }

  .mens {
    gap: 30px;

    .boxs {
      width: 300px;
      height: 400px;
    }
  }
}
