@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.admin-container {
  display: flex;
  height: fit-content;
  min-height: 100vh;
}

.nav-bar {
  width: 250px;
  background-color: #07223D;
  color: white;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  position: fixed; /* Make it fixed */
  top: 0; /* Position at the top of the viewport */
  left: 0; /* Position at the left of the viewport */
  height: 100vh; /* Full height of the viewport */
  overflow-y: auto; /* Add scrolling if content exceeds height */
  z-index: 1000;
  transition: transform 0.3s ease;

  @media (max-width: 768px) {
    width: 70%;
    transform: translateX(-100%);
    &.open {
      transform: translateX(0);
    }
  }
}

.company-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.company-logo img {
  height: 50px;
  width: auto;
}

.navlinks {
  margin-top: 10%;
  font-size: 15px;
  height: 100%;

  @media (max-width: 768px) {
    margin-top: 20px;
  }
}

.nav-link {
  padding: 15px;
  cursor: pointer;
  border-radius: 10px 0 0 10px;
  margin: 5px 0;
  text-decoration: none;
  display: flex;
  color: aliceblue;
  align-items: center;

  &:hover {
    background-color: #555;
  }

  &.active {
    background-color: #777;
  }

  i {
    margin-right: 15px;
    color: aliceblue;
  }

  @media (max-width: 768px) {
    padding: 10px;
    font-size: 14px;
    border-radius: 0;
    text-align: center;
    i {
      margin-right: 0;
    }
  }
}

.content-area {
  flex-grow: 1;
  padding-left: 250px; /* Account for the fixed sidebar width */
  background-color: #ebe9e9;

  @media (max-width: 768px) {
    padding-left: 0; /* Adjust for mobile view when sidebar is toggled */
  }
}

.menu-toggle {
  display: none;
  position: fixed;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #07223D;
  color: white;
  padding: 10px;
  cursor: pointer;
  z-index: 1001;
  border-radius: 5px;

  @media (max-width: 768px) {
    display: block;
  }
}

/* Password Modal Styling */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1002;
}

.password-modal {
  background-color: white;
  padding: 20px;
  width: 90%;
  max-width: 400px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.password-modal h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #07223D;
}

.password-modal input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.modal-buttons button {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.modal-buttons button:first-child {
  background-color: #07223D;
  color: white;
  &:hover{
    background-color: #ff3c00;
  }
}

.modal-buttons button:last-child {
  background-color: #ccc;
  color: #333;
  &:hover{
    background-color: rgb(156, 153, 153);
  }
}
