$color_1: white;
$color_2: #fff;
$background-color_1: #07223D;
$background-color_2: #F7FBFE;

.Review_main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	.topic_review{
		margin-top: 25px;
	}

	.table-container {
		border-radius: 10px;

		width: 100%;
	}

	.Reviewtable {
		width: 150%;
		border-collapse: collapse;
		margin-top: 20px;
		margin-left: 2px;
		background-color: $background-color_1;
		border-radius: 10px;

		th {
			padding: 18px;
			text-align: center;
			background-color: $background-color_1;
			color: $color_1;
			position: sticky;
			top: 0;
			width: 10px;
			border-radius: 10px;
		}
		td {
			padding: 8px;
			text-align: center;
			background-color: $background-color_2;
			border: 1px solid #07223D;
		}
		.Review_viewmore {
			padding: 5px 20px;
			background-color: #07223D;
			color: $color_2;
			border: none;
			border-radius: 5px;
			cursor: pointer;
			width: fit-content;
			&:hover {
				background-color:#FF3C00;
			  }
		}

	}

	.reviewsearch-bar {
		margin-top: 30px;
		margin-right: 20px;
		margin-bottom: 1rem;
		text-align: center;
	}

	.reviewsearch-input {
		padding: 1rem;
		width: 500px;
		height: 40px;
		border-radius: 12px;
		border: 1px solid #000000;
	}

	/* Media Queries for Responsiveness */

	/* Large Devices and Desktops */
	@media (min-width: 992px) {
		.table-container {
			margin-left:10px;
			margin-right: 10px;
		}
		.Reviewtable {
			width: 100%;
			margin-left: -auto;
		}
		.Review_viewmore{
			width: fit-content;
		}
	}

	/* Medium Devices (Tablets) */
	@media (max-width: 991px) {
		.table-container {
			margin-left: 10px;
			margin-right: 20px;
		}
		.Reviewtable {
			width: 90%;
			margin-left: 0;
		}
	}

	/* Small Devices (Phones) */
	@media (max-width: 576px) {
		.table-container {
			width: 100%;
			margin-left: 10px;
			margin-right: 10px;
		}
		.Reviewtable {
			width: 100%;
			margin-left: 0;
		}
		.reviewsearch-input {
			width: 100%;
			max-width: 300px;
		}
		.Review_viewmore{
			width: fit-content;
		}
	}
}
